.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
  min-height: 100vh;
  width: 90%;
}

.h1 {
  justify-content: flex-start;
  display: flex;
  font-size: xx-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.h2 {
  justify-content: flex-start;
  display: flex;
  font-size: x-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.subhead {
  justify-content: flex-start;
  display: flex;
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.type {
  display: flex;
  justify-content: flex-start;
  opacity: 0.6;
  font-size: large;
  line-height: 1.5;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.type1 {
  opacity: 0.8;
  font-size: large;
  font-weight: 600;
  line-height: 1.5;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.indent {
  margin-left: 20px;
}

.divider {
  border: none;
  justify-content: space-evenly;
  display: flex;
  border-top: 2px solid black;
  width: 100%;
}

.grid {
  display: flex;
  justify-content: space-evenly;
  
  width: var(--max-width);
  max-width: 100%;
}

.card {
  
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 12px solid rgba(var(--card-border-rgb), 0);
  
}



.card h2 {
  display: flex;
  justify-content: flex-start;
  font-weight: 600;
  
}

.card p {
  display: flex;
  justify-content: flex-start;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .main {
    width: 100%;
  }
  
  .h1 {
    font-size: x-large;
    flex-wrap: wrap;
  }
  
  .h2 {
    font-size: large;
    flex-wrap: wrap;
  }
  
  .subhead {
    font-size: medium;
    flex-wrap: wrap;
  }
  
  .type {
    font-size: small;
    flex-wrap: wrap;
  }
  
  .type1 {
    font-size: medium;
    flex-wrap: wrap;
  }
  
  .grid {
    flex-wrap: wrap;
  }
  
  .card {
    margin-bottom: 1rem;
    width: 100%;
  }
  
  .card h2 {
    font-size: medium;
    flex-wrap: wrap;
  }
  
  .card p {
    font-size: small;
    max-width: none;
    flex-wrap: wrap;
  }
  
  .center {
    flex-direction: column;
  }
}
